<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <div class="nav bg-slate-800 w-full h-16 px-20 py-4 ">
    <ul class="flex gap-4 items-center text-white">
      <li class="list-none"></li>
      <a href="/">home</a>
      <a href="/read">Read</a>
      <a href="/profile">profile</a>
      <a href="/login">login</a>
      <div class="flex gap-2 items-center justify-end w-full">
        <a href="/create"
          class="bg-green-500 outline-none border-none hover:bg-green-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">CreateUser
          <i class="fa-solid fa-plus"></i></a> &nbsp;
        <a href="/logout"
          class="bg-red-500 outline-none border-none hover:bg-red-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Logout</a>
      </div>
    </ul>
  </div>
  <div class="main bg-zinc-900 min-h-[93vh] w-full flex flex-col justify-center text-white p-5">

    <div class="flex h-12 items-center gap-3">
      <img class="h-12 w-12 rounded-full" src="/images/upload/default.jpg" alt="User pfp">
      <a href="/profile" class="text-2xl"><%= user.name %></a>
    </div>
    <h1 class="text-3xl my-3 self-center">All Posts</h1>
    <div class="Users mt-2 flex gap-4 flex-wrap justify-center align-start">
      <% if(posts.length>0){%>
        <% posts.forEach( function(post){%>
          <div class="user cursor-pointer w-72 p-4 mt-4 bg-zinc-800 rounded-lg ">
            <h1 class="text-blue-500 mb-4">@<%= post.user.name %>
            </h1>
            <div class="w-full h-72 rounded-lg bg-zinc-700">
              <img class="w-full h-full object-top" src="/images/upload/<%= post.image %>" style="object-fit: cover;" alt="User Image">
            </div>
            <h3 class="text-xl tracking-tighter mt-3  ">
              <%= post.name%>
            </h3>
            <h5 class="text-zinc-500 ">
              <%= post.email%>
            </h5>
            <% if (user.email===post.user.email) { %>
              <div class="flex gap-3 mt-6">
                <a href="/update/<%= post._id %>" class="text-yellow-100">Edit Post</a>
                <a href="/delete/<%= post._id %>" class="text-red-500">Delete Post</a>
              </div>
              <% } %>

          </div>
          <% })%>
            <% } else{ %>
              <h1 class="text-3xl">No User</h1>
              <% }%>


    </div>
  </div>
</body>

</html>